@charset "utf-8";
@import url(fonts.css);

@keyframes scrollDown {
  0% {
    opacity: 1;
    top: 0;
  }
}

html,
body {
  height: auto;
  font-family: notokrL, Pretendard, playfair;
}

html {
  scroll-behavior: smooth;
}

.panel {
  height: 100vh;
  top: 0;
}


.mainbg {
  position: relative;
  background: url(../img/bg_main01.jpg)no-repeat center/cover;
}

.gnb_area {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  box-sizing: border-box;
  background: transparent;
  width: 100%;
}

.gnb_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 13%;
  line-height: 30px;
  margin-bottom: 10px;
}

.logo {
  cursor: pointer;
  background: url(../img/bg_logo_shinsegae.png) no-repeat 0 0;
  left: 50%;
  top: 20px;
  width: 350px;
  height: 60px;
  text-indent: -9999px;
  margin-left: 150px;
}

.logo.rotated {
  background: url(../img/bg_logo_shinsegae.png) no-repeat 0 -60px;
}

.btnmenu {
  display: block;
  z-index: 1;
  text-indent: -9999px;
  overflow: hidden;
  width: 30px;
  height: 35px;
  margin: 0 auto;
  background: url(../img/btn_menu.png) no-repeat 0 0;
  transition: .5s;
  background-position: 0;
  border: none;
  cursor: pointer;
}

.btnblack {
  display: none;
  z-index: 1;
  text-indent: -9999px;
  overflow: hidden;
  width: 30px;
  height: 35px;
  margin: 0 auto;
  background: url(../img/btn_menu.png) no-repeat -35px 0;
  transition: .5s;
  background-position: 0;
  border: none;
  cursor: pointer;
}

.gnb_box a {
  font-size: 14px;
  color: #fff;
}

.hd_search {
  width: 12px;
  margin-left: 5px;
}

.btn_opner {
  width: 30%;
  position: relative;
  border: none;
  background: transparent;
  color: #fff;
  cursor: pointer;
}

.btn_opner::after {
  content: '';
  display: inline-block;
  background: url(../img/ico_lang_white.png);
  width: 4px;
  height: 8px;
  position: absolute;
  right: 0;
  top: 4px;
}

.btn_opner.black::after {
  background: url(../img/ico_lang_black.png);
}

.btn_EN {
  opacity: 0;
  margin-left: 10px;
  border: none;
  background: transparent;
  color: #fff;
  cursor: pointer;
}

.btn_EN.active {
  opacity: 1;
}

.gnbutil {
  color: #fff;
  font: 400 14px notokrL;
}

.gnbutil>a {
  margin-right: 15px;
}

.gnbutil .btn_drop {
  border: 1px solid #fff;
  background: none;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
}

.main_text {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font: 400 80px playfair;
  color: #fff;
  opacity: 0;
  transition: opacity 2s ease-in-out;
}

.main_text.show {
  opacity: 1;
}

/* main_left */
.main_left {
  position: fixed;
  top: 50%;
  left: 50px;
  z-index: 9;
  height: 280px;
  margin-top: -120px;
}

.main_left ul {
  position: relative;
  height: 280px;
  width: 150px;
}

.main_left ul::before {
  content: '';
  display: block;
  position: absolute;
  left: -15px;
  top: 0;
  width: 2px;
  height: 80%;
  background: #ccc;
}

.main_left ul:hover li {
  opacity: 1;
  transition: all 0.3s;
}

.main_left .left_box li:hover {
  color: #fff;
  transition: all 0.3s;
}

.main_left .left_box.st1 li:hover {
  color: #000;
  transition: all 0.3s;
}

.main_left ul li {
  font: 600 12px / 38px Pretendard;
  color: #cccccc;
  opacity: 0;
}

.main_left ul .left1.on::before {
  content: '';
  display: block;
  position: absolute;
  left: -15px;
  top: 0;
  width: 2px;
  height: 15%;
  background: #fff;
}

.main_left ul .left1.on {
  opacity: 1;
  color: #fff;
}

.main_left ul .left2.on::before {
  content: '';
  display: block;
  position: absolute;
  left: -15px;
  top: 40px;
  width: 2px;
  height: 15%;
  background: #000;
}

.main_left ul .left2.on {
  opacity: 1;
  color: #000;
}

.main_left ul .left3.on::before {
  content: '';
  display: block;
  position: absolute;
  left: -15px;
  top: 75px;
  width: 2px;
  height: 15%;
  background: #000;
}

.main_left ul .left3.on {
  opacity: 1;
  color: #000;
}

.main_left ul .left4.on::before {
  content: '';
  display: block;
  position: absolute;
  left: -15px;
  top: 115px;
  width: 2px;
  height: 15%;
  background: #000;
}

.main_left ul .left4.on {
  opacity: 1;
  color: #000;
}

.main_left ul .left5.on::before {
  content: '';
  display: block;
  position: absolute;
  left: -15px;
  top: 150px;
  width: 2px;
  height: 15%;
  background: #fff;
}

.main_left ul .left5.on {
  opacity: 1;
  color: #fff;
}

.main_left ul .left6.on::before {
  content: '';
  display: block;
  position: absolute;
  left: -15px;
  top: 194px;
  width: 2px;
  height: 15%;
  background: #fff;
}

.main_left ul .left6.on {
  opacity: 1;
  color: #fff;
}

/* menu_drop */
.menu_drop {
  width: 100%;
  position: absolute;
  top: 100%;
  background: #111;
  height: 90vh;
  margin-left: -30px;
  display: none;
}

.menu_drop.open {
  display: block;
}

.drop_head {
  width: 100%;
  text-align: center;
}

.drop_head img {
  margin-top: 20px;
}

.drop_head .btn_close {
  display: block;
  margin-left: 75%;
  cursor: pointer;
}

.drop_head .btn_close2 {
  display: none;
  margin-left: 75%;
  cursor: pointer;
}

.drop_menu {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 30px auto 0;
}

.drop_menu .movement {
  color: #fff;
  font-size: 18px;
  padding-top: 20px;
  cursor: pointer;
}

.drop_menu h3 {
  color: #989442;
  font-size: 15px;
  padding-top: 20px;
}

.drop_menu a {
  font-size: 15px;
  color: #999;
  padding-top: 20px;
}

.drop_menu p {
  margin: 3px 0;
}

.drop_menu .drop_first {
  color: #fff;
  font-size: 18px;
  padding-top: 20px;
}

.drop_th {
  width: 175px;
  height: 141px;
  display: block;
  padding-top: 20px;
  margin-bottom: 5px;
}

/* 스크롤이미지 */

.scroll_ico {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.scroll_text {
  display: block;
  font: 13px 'Pretendard', sans-serif;
  color: #fff;
}

.arrow_scroll>span {
  display: block;
  width: 10px;
  height: 10px;
  margin-left: 17px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  transform: rotate(-45deg);
  animation: scrollDown 2s infinite;
  opacity: 0;
  box-sizing: border-box;
}

.scroll_ico img {
  margin-top: 10px;
}

.arrow_scroll>span:nth-of-type(1) {
  animation-delay: 0s;
}

.arrow_scroll>span:nth-of-type(2) {
  bottom: -7px;
  animation-delay: 0.15s;
}

.arrow_scroll>span:nth-of-type(3) {
  bottom: -14px;
  animation-delay: 0.3s;
}

/* 섹션 타입2 */
.panel.type2 {
  position: relative;
}

.offers_box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1400px;
  height: 535px;
  margin: -270px 0 0 -700px;
}

.offers_hd {
  position: relative;
  font: 400 16px Pretendard;
  margin-left: 69px;
}

.offers_hd::before {
  content: '';
  background: url(../img/ico_arr_7x13.png)no-repeat center/cover;
  width: 7px;
  height: 13px;
  position: absolute;
  left: 120px;
  top: 4px;
}

.off_header {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font: 400 26px playfair;
  margin-top: 20px;
  height: 70px;
  width: 360px;
  word-break: break-word;
}

.off_text {
  font-size: 16px;
  color: #333;
  margin-top: 7px;
  width: 360px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.off_date {
  font: 400 16px Pretendard;
  color: #333;
  margin-top: 5px;
}

.location {
  width: 150px;
  padding: 10px 5px;
  box-sizing: border-box;
  margin-top: 40px;
  color: #fff;
  font: 400 15px / 1 notokrL;
  text-align: center;
}

.location.red {
  background: #d20a10;
}

.location.grand {
  background: #1f453b;
  ;
}

.location.grp {
  background: #000000;
}

.location.twcb {
  background: #968a8b;
}

.slider {
  width: 90%;
  overflow: hidden;
  margin: 0 auto;
}

.slide {
  position: relative;
  float: left;
  width: 20%;
  margin-top: 40px;
}

.slide .off_img {
  display: block;
  width: 360px;
  height: 250px;
  cursor: pointer;
}

.hover_bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 360px;
  height: 250px;
  background: #797864;
  z-index: 1;
  opacity: 0;
}

.slide:hover .hover_bg {
  opacity: .8;
}

.hover_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  border: 1px solid #fff;
  padding: 20px 40px;
}

.prevArrow {
  position: absolute;
  top: 50%;
  left: -50px;
  background: url(../img/btn_swipe.png) no-repeat 0 0;
  width: 66px;
  height: 66px;
  cursor: pointer;
}

.nextArrow {
  position: absolute;
  top: 50%;
  right: 0;
  background: url(../img/btn_swipe.png)no-repeat -66px;
  width: 66px;
  height: 66px;
  cursor: pointer;
}



/* 라운지 타입3*/
.panel.type3 {
  position: relative;
  background: #f5f5f5;
}

.lounge {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1400px;
  height: 535px;
  margin: -270px 0 0 -700px;
}

.lounge h4 {
  color: #000;
  font: 500 40px playfair;
  padding-bottom: 20px;
  letter-spacing: 10px;
  display: block;
  text-align: center;
}

.lounge .small_text {
  font-size: 16px;
  color: #333;
  margin-top: 7px;
  width: 360px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  font-family: Pretendard, notokrL;
}

.lounge .lg_header {
  position: relative;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font: 400 26px playfair;
  margin-top: 20px;
  height: 70px;
  width: 360px;
  word-break: break-word;
}

.lounge .lg_header::after {
  display: block;
  content: '';
  position: absolute;
  width: 25px;
  height: 1.5px;
  background: #000;
  bottom: 7px;
  left: 0;
}

.lounge .lg_text {
  font-size: 16px;
  color: #333;
  margin-top: 7px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
}

.lounge .text {
  display: block;
  font-size: 16px;
  color: #333;
  margin-top: 7px;
  width: 360px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  font-family: Pretendard, notokrL;
}

.slider_lg {
  width: 90%;
  overflow: hidden;
  margin: 0 auto;
}

.slide_lg {
  float: left;
  width: 20%;
  margin-top: 40px;
  position: relative;
}

.slide_lg img {
  display: block;
  width: 360px;
  height: 290px;
  cursor: pointer;
}

.hover_lg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: #555;
  opacity: 0;
  z-index: 1;
  width: 360px;
  height: 290px;
}

.slide_lg:hover .hover_lg {
  opacity: 0.8;
}

.prevArrow_lg {
  position: absolute;
  top: 50%;
  left: -50px;
  background: url(../img/btn_swipe.png) no-repeat 0 0;
  width: 66px;
  height: 66px;
  cursor: pointer;
}

.nextArrow_lg {
  position: absolute;
  top: 50%;
  right: 0;
  background: url(../img/btn_swipe.png)no-repeat -66px;
  width: 66px;
  height: 66px;
  cursor: pointer;
}


/* 클럽 타입4*/
.panel.type4 {
  position: relative;
}

.club {
  background: url(../img/bg_main02.jpg)no-repeat center/cover;
  width: 100%;
  height: 100vh;
}

.club_box {
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 535px;
  background-color: #fff;
  opacity: 0;
  transition: all 0.8s;
}

.club h4 {
  color: #000;
  font: 500 60px playfair;
  padding-bottom: 20px;
  display: block;
  text-align: center;
  margin-top: 110px;
}

.club_text {
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: Pretendard, notokrL;
  line-height: 50px;
  text-align: center;
  font-size: 24px;
  margin: 10px 0 40px;
  word-break: keep-all;
  word-wrap: break-word;
}

.club_button {
  width: 100%;
  text-align: center;
}

.club button:nth-child(2) {
  margin-left: 20px;
}

.club button {
  background: #fff;
  border: 1px solid #000;
  min-width: 162px;
  height: 50px;
  padding: 0 25px;
  line-height: 48px;
  font-size: 17px;
  letter-spacing: -.01em;
}


/* 호텔 타입5 */
.panel.type5 {
  position: relative;
}

.hotel {
  background: url(../img/bg_main03.jpg)no-repeat center/cover;
  width: 100%;
  height: 100vh;
  position: relative;
}

.hotel_box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 550px;
  background-color: #fff;
}

.hotel_box h4 {
  font: 400 60px playfair;
  color: #000;
  text-align: center;
  margin-top: 50px;
}

.hotel_box .hotel_text {
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis;
  font: 400 20px Pretendard;
  margin-top: 10px;
  text-align: center;
  word-break: keep-all;
  word-wrap: break-word;
}

.hotel_img {
  text-align: center;
  margin-top: 30px;
}

.hotel_img img {
  opacity: .45;
  margin: 30px 0 20px;
}

.hotel_img img:hover {
  opacity: 1;
}

.prevArrow_ht {
  position: absolute;
  top: 50%;
  left: 250px;
  background: url(../img/btn_swipe.png) no-repeat 0 0;
  width: 66px;
  height: 66px;
  cursor: pointer;
}

.nextArrow_ht {
  position: absolute;
  top: 50%;
  right: 250px;
  background: url(../img/btn_swipe.png)no-repeat -66px;
  width: 66px;
  height: 66px;
  cursor: pointer;
}

.hotel2 {
  background: url(../img/bg_main04.jpg)no-repeat center/cover;
  width: 100%;
  height: 100vh;
}

.hotel_box2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 550px;
  background-color: #fff;
}

.hotel_box2 h4 {
  font-size: 60px;
  font-weight: 400;
  font-family: playfair;
  display: block;
  text-align: center;
  margin-top: 50px;
  color: #000;
}

.hotel_box2 .hotel_text2 {
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis;
  font: 400 20px Pretendard;
  margin-top: 10px;
  text-align: center;
  word-break: keep-all;
  word-wrap: break-word;
}

.hotel_box2 .txt1 {
  font: 400 25px Pretendard;
  margin-top: 30px;
  text-align: center;
  line-height: 1.5;
}

.hotel_box2 .txt2 {
  font: 400 20px Pretendard;
  margin: 3px 0 40px;
  text-align: center;
  line-height: 1.5;
}

.btn_box {
  width: 100%;
  text-align: center;
}

.hotel_box2 .btn_ht {
  background: #fff;
  border: 1px solid #000;
  min-width: 162px;
  height: 50px;
  padding: 0 25px;
  line-height: 48px;
  font-size: 17px;
  letter-spacing: -.01em;
}


/* business */
.panel.type6 {
  position: relative;
}

.business {
  background: url(../img/business1.jpg)no-repeat center/cover;
  width: 100%;
  height: 100vh;
  position: relative;
}

.business_box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 550px;
}

.business_box h4 {
  display: block;
  text-align: center;
  margin-top: 50px;
  color: #fff;
  font: 500 60px playfair;
  color: #fff;
  font-feature-settings: 'lnum', 'pnum';
}

.business_box .business_text {
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 20px;
  font-weight: 400;
  font-family: Pretendard, notokrR;
  text-align: center;
  word-break: keep-all;
  word-wrap: break-word;
  margin: 25px 0 70px;
  color: #fff;
  line-height: 1.8;
}

.business_list {
  display: flex;
  flex-wrap: wrap;
  width: 980px;
  margin: 0 auto;
}

.business_list li {
  border: 1px solid rgba(255, 255, 255, 0.2);
  text-align: center;
  width: 24%;
  height: 120px;
  padding-top: 40px;
}

.business_list li img {
  opacity: .4;
}

.business_list li:hover {
  background: rgba(0, 0, 0, 0.3);
}

.business_list li:hover img {
  margin-top: -10px;
  opacity: 1;
}

.business_list li:hover .s_text {
  opacity: 1;
}

.business_list li .s_text {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: underline;
  opacity: 0;
}
